USE [ComercializAR]
GO
/****** Object:  StoredProcedure [dbo].[TraerTodosUsuarios]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[TraerTodosUsuarios]
GO
/****** Object:  StoredProcedure [dbo].[TraerTodasPatentes]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[TraerTodasPatentes]
GO
/****** Object:  StoredProcedure [dbo].[TraerPermisosByUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[TraerPermisosByUsuario]
GO
/****** Object:  StoredProcedure [dbo].[TraerFamilias]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[TraerFamilias]
GO
/****** Object:  StoredProcedure [dbo].[RemoverDeStock]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[RemoverDeStock]
GO
/****** Object:  StoredProcedure [dbo].[ModificarNombreUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[ModificarNombreUsuario]
GO
/****** Object:  StoredProcedure [dbo].[LookupUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[LookupUsuario]
GO
/****** Object:  StoredProcedure [dbo].[lookupMensajesBitacoraCambios]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[lookupMensajesBitacoraCambios]
GO
/****** Object:  StoredProcedure [dbo].[lookupMensajesBitacora]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[lookupMensajesBitacora]
GO
/****** Object:  StoredProcedure [dbo].[LookupCliente]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[LookupCliente]
GO
/****** Object:  StoredProcedure [dbo].[GuardarPerfilPaso2]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GuardarPerfilPaso2]
GO
/****** Object:  StoredProcedure [dbo].[GuardarPerfilPaso1]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GuardarPerfilPaso1]
GO
/****** Object:  StoredProcedure [dbo].[GuardarFamiliaPaso2]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GuardarFamiliaPaso2]
GO
/****** Object:  StoredProcedure [dbo].[GuardarFamiliaPaso1]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GuardarFamiliaPaso1]
GO
/****** Object:  StoredProcedure [dbo].[GuardarComponente]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GuardarComponente]
GO
/****** Object:  StoredProcedure [dbo].[GetVentasNoFacturadas]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GetVentasNoFacturadas]
GO
/****** Object:  StoredProcedure [dbo].[GetUsuariosBloqueados]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[GetUsuariosBloqueados]
GO
/****** Object:  StoredProcedure [dbo].[getListaProductosEnStock]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[getListaProductosEnStock]
GO
/****** Object:  StoredProcedure [dbo].[DespachoFactura]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[DespachoFactura]
GO
/****** Object:  StoredProcedure [dbo].[DesbloquearUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[DesbloquearUsuario]
GO
/****** Object:  StoredProcedure [dbo].[CrearVenta]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[CrearVenta]
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[CrearUsuario]
GO
/****** Object:  StoredProcedure [dbo].[CrearFactura]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[CrearFactura]
GO
/****** Object:  StoredProcedure [dbo].[CrearCliente]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[CrearCliente]
GO
/****** Object:  StoredProcedure [dbo].[CambioContraseña]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[CambioContraseña]
GO
/****** Object:  StoredProcedure [dbo].[AutenticarUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[AutenticarUsuario]
GO
/****** Object:  StoredProcedure [dbo].[AñadirAStockPredefinido]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP PROCEDURE [dbo].[AñadirAStockPredefinido]
GO
ALTER TABLE [dbo].[Venta] DROP CONSTRAINT [FK_Venta_Cliente]
GO
ALTER TABLE [dbo].[UsuarioPermiso] DROP CONSTRAINT [FK_UsuarioPermiso_Usuarios]
GO
ALTER TABLE [dbo].[UsuarioPermiso] DROP CONSTRAINT [FK_UsuarioPermiso_Permiso]
GO
ALTER TABLE [dbo].[ProductoHistorico] DROP CONSTRAINT [FK_ProductoHistorico_Producto]
GO
ALTER TABLE [dbo].[Producto] DROP CONSTRAINT [FK_Producto_Usuarios]
GO
ALTER TABLE [dbo].[OrdenPago] DROP CONSTRAINT [FK_OrdenPago_Proveedor]
GO
ALTER TABLE [dbo].[OrdenPago] DROP CONSTRAINT [FK_OrdenPago_OrdenCompra]
GO
ALTER TABLE [dbo].[OrdenCompra] DROP CONSTRAINT [FK_OrdenCompra_Cotizacion]
GO
ALTER TABLE [dbo].[Factura] DROP CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[Cotizacion] DROP CONSTRAINT [FK_Proveedor_Cotizacion]
GO
ALTER TABLE [dbo].[Bitacora] DROP CONSTRAINT [FK_Bitacora_Usuarios]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Venta]') AND type in (N'U'))
DROP TABLE [dbo].[Venta]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Usuarios]') AND type in (N'U'))
DROP TABLE [dbo].[Usuarios]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[UsuarioPermiso]') AND type in (N'U'))
DROP TABLE [dbo].[UsuarioPermiso]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Proveedor]') AND type in (N'U'))
DROP TABLE [dbo].[Proveedor]
GO
/****** Object:  Table [dbo].[ProductoHistorico]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ProductoHistorico]') AND type in (N'U'))
DROP TABLE [dbo].[ProductoHistorico]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Producto]') AND type in (N'U'))
DROP TABLE [dbo].[Producto]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Permisos]') AND type in (N'U'))
DROP TABLE [dbo].[Permisos]
GO
/****** Object:  Table [dbo].[PermisoPermiso]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[PermisoPermiso]') AND type in (N'U'))
DROP TABLE [dbo].[PermisoPermiso]
GO
/****** Object:  Table [dbo].[OrdenPago]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrdenPago]') AND type in (N'U'))
DROP TABLE [dbo].[OrdenPago]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[OrdenCompra]') AND type in (N'U'))
DROP TABLE [dbo].[OrdenCompra]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Factura]') AND type in (N'U'))
DROP TABLE [dbo].[Factura]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DV]') AND type in (N'U'))
DROP TABLE [dbo].[DV]
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cotizacion]') AND type in (N'U'))
DROP TABLE [dbo].[Cotizacion]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Cliente]') AND type in (N'U'))
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 29-Sep-25 7:22:21 PM ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Bitacora]') AND type in (N'U'))
DROP TABLE [dbo].[Bitacora]
GO
USE [master]
GO
/****** Object:  Database [ComercializAR]    Script Date: 29-Sep-25 7:22:21 PM ******/
DROP DATABASE [ComercializAR]
GO
/****** Object:  Database [ComercializAR]    Script Date: 29-Sep-25 7:22:21 PM ******/
DECLARE @DataPath NVARCHAR(260) = CAST(SERVERPROPERTY('InstanceDefaultDataPath') AS NVARCHAR(260));
CREATE DATABASE [ComercializAR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ComercializAR', FILENAME = @DataPath + N'ComercializAR.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ComercializAR_log', FILENAME = @DataPath + N'ComercializAR_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ComercializAR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ComercializAR]
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[contenido] [nvarchar](max) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[usuario] [nvarchar](50) NOT NULL,
	[criticidad] [nvarchar](50) NOT NULL,
	[modulo] [nvarchar](50) NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Bitacora] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [nvarchar](50) NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[apellido] [nvarchar](50) NOT NULL,
	[domicilio] [nvarchar](50) NOT NULL,
	[telefono] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cotizacion]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cotizacion](
	[id] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[idProveedor] [int] NULL,
	[productos] [nvarchar](max) NULL,
	[total] [nvarchar](50) NULL,
 CONSTRAINT [PK_Cotizacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DV]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DV](
	[DVH] [nvarchar](max) NOT NULL,
	[DVV] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Factura]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Factura](
	[id] [nvarchar](50) NOT NULL,
	[ventaJson] [nvarchar](max) NOT NULL,
	[despachada] [bit] NULL,
	[idCliente] [nvarchar](50) NULL,
 CONSTRAINT [PK_Factura] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenCompra]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenCompra](
	[id] [int] NOT NULL,
	[idCotizacion] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[estado] [nvarchar](50) NULL,
	[total] [nvarchar](max) NULL,
	[productos] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrdenCompra] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrdenPago]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrdenPago](
	[id] [int] NOT NULL,
	[idOrdenCompra] [int] NOT NULL,
	[idProveedor] [int] NOT NULL,
	[fecha] [datetime] NULL,
	[monto] [nvarchar](50) NULL,
	[abonado] [int] NULL,
	[productos] [nvarchar](max) NULL,
 CONSTRAINT [PK_OrdenPago] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermisoPermiso]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermisoPermiso](
	[idPerfilPadre] [nvarchar](50) NOT NULL,
	[idPerfilHijo] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permisos]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permisos](
	[idPermiso] [int] NOT NULL,
	[nombre] [nvarchar](50) NOT NULL,
	[permiso] [nvarchar](50) NULL,
 CONSTRAINT [PK_Permiso] PRIMARY KEY CLUSTERED 
(
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[nombreProducto] [nvarchar](50) NOT NULL,
	[id] [int] NOT NULL,
	[marcaProducto] [nvarchar](50) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [nvarchar](50) NOT NULL,
	[usuMod] [nvarchar](50) NULL,
 CONSTRAINT [PK_Producto] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductoHistorico]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductoHistorico](
	[idOp] [int] IDENTITY(1,1) NOT NULL,
	[id] [int] NOT NULL,
	[nombreProducto] [varchar](255) NULL,
	[precio] [nvarchar](50) NULL,
	[cantidad] [int] NULL,
	[fechaMod] [datetime] NOT NULL,
	[tipoOp] [nvarchar](50) NOT NULL,
	[marcaProducto] [nvarchar](50) NULL,
	[activo] [int] NULL,
	[usuMod] [nvarchar](50) NULL,
 CONSTRAINT [PK__Producto__9DB850D97F94C491] PRIMARY KEY CLUSTERED 
(
	[idOp] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] NOT NULL,
	[email] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
 CONSTRAINT [PK_Proveedor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioPermiso]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioPermiso](
	[nomUsu] [nvarchar](50) NOT NULL,
	[idPermiso] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioPermiso] PRIMARY KEY CLUSTERED 
(
	[nomUsu] ASC,
	[idPermiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[nomUsu] [nvarchar](50) NOT NULL,
	[pass] [nvarchar](500) NOT NULL,
	[bloqueado] [int] NULL,
	[idioma] [nvarchar](50) NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[telefono] [nvarchar](50) NULL,
	[dni] [nvarchar](50) NULL,
 CONSTRAINT [PK_Usuarios] PRIMARY KEY CLUSTERED 
(
	[nomUsu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[productosVendidos] [nvarchar](max) NOT NULL,
	[id] [nvarchar](100) NOT NULL,
	[monto] [nvarchar](50) NOT NULL,
	[fecha] [nvarchar](50) NOT NULL,
	[clienteId] [nvarchar](50) NOT NULL,
	[facturada] [bit] NOT NULL,
 CONSTRAINT [PK_Venta] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([contenido], [fecha], [usuario], [criticidad], [modulo], [id]) VALUES (N'asdf', CAST(N'2024-09-08T00:00:00.000' AS DateTime), N'grant004', N'1', N'Ventas', 1)
INSERT [dbo].[Bitacora] ([contenido], [fecha], [usuario], [criticidad], [modulo], [id]) VALUES (N'aasdadsd', CAST(N'2024-09-09T00:00:00.000' AS DateTime), N'grant004', N'2', N'Compras', 2)
INSERT [dbo].[Bitacora] ([contenido], [fecha], [usuario], [criticidad], [modulo], [id]) VALUES (N'asdfasd', CAST(N'2024-09-10T00:00:00.000' AS DateTime), N'grant004', N'3', N'Login', 3)
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [domicilio], [telefono]) VALUES (N'NDA2NzY3NjM=', N'Tom2', N'Graña2', N'U2FybWllbnRvIDM3Nw==', N'MTE2NDA4NTQ2Ng==')
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [domicilio], [telefono]) VALUES (N'NDA2NzY3NjQ=', N'Tomás', N'Graña', N'U2FybWllbnRvIDM3Nw==', N'MTE2NDA4NTQ2Ng==')
GO
INSERT [dbo].[DV] ([DVH], [DVV]) VALUES (N'80535e9e496488c829808ce824579edf731f3f0f7e07d97a830f31ec283c4157', N'4fed5d9e7c1709295ad5a49186bf5c6decd8cad08c3de1cdcd3ca49fb0cfb6b5')
GO
INSERT [dbo].[Factura] ([id], [ventaJson], [despachada], [idCliente]) VALUES (N'0e5062ff-62ae-450b-9160-c631a9adb610', N'{"id":"0e5062ff-62ae-450b-9160-c631a9adb610","productosVendidos":"[{\"nombreProducto\":\"Core i5 13600K\",\"marcaProducto\":\"Intel\",\"id\":\"1\",\"cantidad\":1,\"precio\":\"100000\"}]","idCliente":"40676764","fecha":"26-Jun-23 12:26:05 AM","monto":null}', NULL, N'NDA2NzY3NjQ=')
INSERT [dbo].[Factura] ([id], [ventaJson], [despachada], [idCliente]) VALUES (N'183c1f50-37db-4cfe-94ad-768ea5b7f050', N'{"id":"183c1f50-37db-4cfe-94ad-768ea5b7f050","productosVendidos":"[{\"nombreProducto\":\"Core i5 13600K\",\"marcaProducto\":\"Intel\",\"id\":\"1\",\"cantidad\":4,\"precio\":\"100000\"},{\"nombreProducto\":\"Core i5 13500\",\"marcaProducto\":\"Intel\",\"id\":\"3\",\"cantidad\":3,\"precio\":\"80000\"}]","idCliente":"40676764","fecha":"26-Jun-23 7:40:47 PM","monto":null}', NULL, N'NDA2NzY3NjQ=')
GO
INSERT [dbo].[PermisoPermiso] ([idPerfilPadre], [idPerfilHijo]) VALUES (N'16', N'2')
INSERT [dbo].[PermisoPermiso] ([idPerfilPadre], [idPerfilHijo]) VALUES (N'16', N'10')
INSERT [dbo].[PermisoPermiso] ([idPerfilPadre], [idPerfilHijo]) VALUES (N'16', N'12')
GO
INSERT [dbo].[Permisos] ([idPermiso], [nombre], [permiso]) VALUES (1, N'admin_usuarios', N'admin_usuarios')
INSERT [dbo].[Permisos] ([idPermiso], [nombre], [permiso]) VALUES (2, N'admin_perfiles', N'admin_perfiles')
INSERT [dbo].[Permisos] ([idPermiso], [nombre], [permiso]) VALUES (3, N'admin_idiomas', N'admin_idiomas')
GO
INSERT [dbo].[Producto] ([nombreProducto], [id], [marcaProducto], [cantidad], [precio], [usuMod]) VALUES (N'Core i5 13600K', 1, N'Intel', 9, N'100000', N'grant004')
INSERT [dbo].[Producto] ([nombreProducto], [id], [marcaProducto], [cantidad], [precio], [usuMod]) VALUES (N'Core i5 13600', 2, N'Intel', 15, N'90000', N'grant004')
INSERT [dbo].[Producto] ([nombreProducto], [id], [marcaProducto], [cantidad], [precio], [usuMod]) VALUES (N'Core i5 13500', 3, N'Intel', 15, N'80000', N'grant004')
GO
SET IDENTITY_INSERT [dbo].[ProductoHistorico] ON 

INSERT [dbo].[ProductoHistorico] ([idOp], [id], [nombreProducto], [precio], [cantidad], [fechaMod], [tipoOp], [marcaProducto], [activo], [usuMod]) VALUES (1, 1, N'Core i5 13600K', N'100000', 9, CAST(N'2024-11-17T12:43:22.257' AS DateTime), N'INSERT', N'Intel', 0, N'grant004')
INSERT [dbo].[ProductoHistorico] ([idOp], [id], [nombreProducto], [precio], [cantidad], [fechaMod], [tipoOp], [marcaProducto], [activo], [usuMod]) VALUES (2, 1, N'Core i5 13600K', N'100000', 9, CAST(N'2024-11-17T12:43:22.260' AS DateTime), N'DELETE', N'Intel', 0, N'grant004')
INSERT [dbo].[ProductoHistorico] ([idOp], [id], [nombreProducto], [precio], [cantidad], [fechaMod], [tipoOp], [marcaProducto], [activo], [usuMod]) VALUES (3, 1, N'Core i5 13600K', N'100000', 9, CAST(N'2024-11-17T12:43:22.260' AS DateTime), N'UPDATE', N'Intel', 1, N'grant004')
SET IDENTITY_INSERT [dbo].[ProductoHistorico] OFF
GO
INSERT [dbo].[UsuarioPermiso] ([nomUsu], [idPermiso]) VALUES (N'admin', 1)
INSERT [dbo].[UsuarioPermiso] ([nomUsu], [idPermiso]) VALUES (N'admin', 2)
INSERT [dbo].[UsuarioPermiso] ([nomUsu], [idPermiso]) VALUES (N'admin', 3)
GO
INSERT [dbo].[Usuarios] ([nomUsu], [pass], [bloqueado], [idioma], [nombre], [apellido], [email], [telefono], [dni]) VALUES (N'admin', N'FD984BAD363E9A30021460091726467B65BB1E88C31752D93C68ADE87E4946E4', 0, NULL, N'admin', N'admin', N'admin@admin.com', N'2364623646', N'99999999')
INSERT [dbo].[Usuarios] ([nomUsu], [pass], [bloqueado], [idioma], [nombre], [apellido], [email], [telefono], [dni]) VALUES (N'grant004', N'240be518fabd2724ddb6f04eeb1da5967448d7e831c08c8fa822809f74c720a9', 0, NULL, N'Tomás', N'Graña', N'tomg197@gmail.com', N'1164085466', N'40676764')
INSERT [dbo].[Usuarios] ([nomUsu], [pass], [bloqueado], [idioma], [nombre], [apellido], [email], [telefono], [dni]) VALUES (N'test2', N'53d3722e38063b6db95a96b91fc18216ab4ae6fed7bb60069844cadd12c265d6', 0, NULL, N'John', N'Test', N'john.test@gmail.com', N'1234567891', N'12345678')
GO
INSERT [dbo].[Venta] ([productosVendidos], [id], [monto], [fecha], [clienteId], [facturada]) VALUES (N'[{"nombreProducto":"Core i5 13600K","marcaProducto":"Intel","id":"1","cantidad":1,"precio":"100000"}]', N'0e5062ff-62ae-450b-9160-c631a9adb610', N'MTAwMDAw', N'26-Jun-23 12:26:05 AM', N'NDA2NzY3NjQ=', 1)
INSERT [dbo].[Venta] ([productosVendidos], [id], [monto], [fecha], [clienteId], [facturada]) VALUES (N'[{"nombreProducto":"Core i5 13600K","marcaProducto":"Intel","id":"1","cantidad":4,"precio":"100000"},{"nombreProducto":"Core i5 13500","marcaProducto":"Intel","id":"3","cantidad":3,"precio":"80000"}]', N'183c1f50-37db-4cfe-94ad-768ea5b7f050', N'NjQwMDAw', N'26-Jun-23 7:40:47 PM', N'NDA2NzY3NjQ=', 1)
INSERT [dbo].[Venta] ([productosVendidos], [id], [monto], [fecha], [clienteId], [facturada]) VALUES (N'[{"nombreProducto":"Core i7 13700","marcaProducto":"Intel","id":"5","cantidad":1,"precio":"110000"},{"nombreProducto":"Core i5 13500","marcaProducto":"Intel","id":"3","cantidad":2,"precio":"80000"},{"nombreProducto":"Core i5 13600","marcaProducto":"Intel","id":"2","cantidad":3,"precio":"90000"}]', N'1b100144-fdce-4d97-b42b-300abf95a300', N'NTQwMDAw', N'26-Jun-23 9:08:35 PM', N'NDA2NzY3NjQ=', 1)
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Bitacora_Usuarios] FOREIGN KEY([usuario])
REFERENCES [dbo].[Usuarios] ([nomUsu])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Bitacora_Usuarios]
GO
ALTER TABLE [dbo].[Cotizacion]  WITH CHECK ADD  CONSTRAINT [FK_Proveedor_Cotizacion] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Cotizacion] CHECK CONSTRAINT [FK_Proveedor_Cotizacion]
GO
ALTER TABLE [dbo].[Factura]  WITH CHECK ADD  CONSTRAINT [FK_Factura_Cliente] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Factura] CHECK CONSTRAINT [FK_Factura_Cliente]
GO
ALTER TABLE [dbo].[OrdenCompra]  WITH CHECK ADD  CONSTRAINT [FK_OrdenCompra_Cotizacion] FOREIGN KEY([idCotizacion])
REFERENCES [dbo].[Cotizacion] ([id])
GO
ALTER TABLE [dbo].[OrdenCompra] CHECK CONSTRAINT [FK_OrdenCompra_Cotizacion]
GO
ALTER TABLE [dbo].[OrdenPago]  WITH CHECK ADD  CONSTRAINT [FK_OrdenPago_OrdenCompra] FOREIGN KEY([idOrdenCompra])
REFERENCES [dbo].[OrdenCompra] ([id])
GO
ALTER TABLE [dbo].[OrdenPago] CHECK CONSTRAINT [FK_OrdenPago_OrdenCompra]
GO
ALTER TABLE [dbo].[OrdenPago]  WITH CHECK ADD  CONSTRAINT [FK_OrdenPago_Proveedor] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[OrdenPago] CHECK CONSTRAINT [FK_OrdenPago_Proveedor]
GO
ALTER TABLE [dbo].[Producto]  WITH CHECK ADD  CONSTRAINT [FK_Producto_Usuarios] FOREIGN KEY([usuMod])
REFERENCES [dbo].[Usuarios] ([nomUsu])
GO
ALTER TABLE [dbo].[Producto] CHECK CONSTRAINT [FK_Producto_Usuarios]
GO
ALTER TABLE [dbo].[ProductoHistorico]  WITH CHECK ADD  CONSTRAINT [FK_ProductoHistorico_Producto] FOREIGN KEY([id])
REFERENCES [dbo].[Producto] ([id])
GO
ALTER TABLE [dbo].[ProductoHistorico] CHECK CONSTRAINT [FK_ProductoHistorico_Producto]
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermiso_Permiso] FOREIGN KEY([idPermiso])
REFERENCES [dbo].[Permisos] ([idPermiso])
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioPermiso_Permiso]
GO
ALTER TABLE [dbo].[UsuarioPermiso]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioPermiso_Usuarios] FOREIGN KEY([nomUsu])
REFERENCES [dbo].[Usuarios] ([nomUsu])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UsuarioPermiso] CHECK CONSTRAINT [FK_UsuarioPermiso_Usuarios]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [FK_Venta_Cliente] FOREIGN KEY([clienteId])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [FK_Venta_Cliente]
GO
/****** Object:  StoredProcedure [dbo].[AñadirAStockPredefinido]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[AñadirAStockPredefinido]
	-- Add the parameters for the stored procedure here
	@cantidad int
AS
BEGIN
	update Producto
	set cantidad = @cantidad 
END
GO
/****** Object:  StoredProcedure [dbo].[AutenticarUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AutenticarUsuario]
    @nomUsu VARCHAR(50),
    @pass VARCHAR(64),
	@Result INT OUTPUT
AS
BEGIN
  DECLARE @Counter INT;

  -- Check if the user exists in the table
  IF EXISTS(SELECT 1 FROM Usuarios WHERE nomUsu = @nomUsu)
  BEGIN
    -- Get the current counter value for the user
    SELECT @Counter = bloqueado FROM Usuarios WHERE nomUsu = @nomUsu;

    -- Check if the counter field is already at 3
    IF @Counter = 3
    BEGIN
      SET @Result = 0; -- User's counter field is already at 3
    END
    ELSE
    BEGIN
      -- Check if the password matches
      IF EXISTS(SELECT 1 FROM Usuarios WHERE nomUsu = @nomUsu AND pass = @pass)
      BEGIN
		SET @Counter = 0
		UPDATE Usuarios SET bloqueado = @Counter WHERE nomUsu = @nomUsu
        SET @Result = 3; -- User found and password matched
      END
      ELSE
      BEGIN
        SET @Counter = @Counter + 1; -- Increment the counter field
        SET @Result = 2; -- User found but password not matched
        -- Update the counter field in the table
        UPDATE Usuarios SET bloqueado = @Counter WHERE nomUsu = @nomUsu;
      END
    END
  END
  ELSE
  BEGIN
    SET @Result = 1; -- User not found
  END
END
GO
/****** Object:  StoredProcedure [dbo].[CambioContraseña]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CambioContraseña] 
	@nomUsu VARCHAR(50),
	@pass VARCHAR(64),
	@passNueva VARCHAR(64),
	@Result INT OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	IF EXISTS(SELECT 1 FROM Usuarios WHERE nomUsu = @nomUsu AND pass = @pass)
	BEGIN
	UPDATE Usuarios SET pass = @passNueva WHERE nomUsu = @nomUsu;
	SET @Result = 1;
	END
	ELSE
	BEGIN 
	SET @Result = 0;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[CrearCliente]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CrearCliente]
    @id nVARCHAR(50),
    @nombre nVARCHAR(100),
    @apellido nVARCHAR(100),
    @domicilio nVARCHAR(200),
    @telefono nVARCHAR(200)
AS
BEGIN
    INSERT INTO Cliente (id, nombre, apellido, domicilio, telefono)
    VALUES (@id, @nombre, @apellido, @domicilio, @telefono)
END
GO
/****** Object:  StoredProcedure [dbo].[CrearFactura]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CrearFactura]
	-- Add the parameters for the stored procedure here
	@id nvarchar(100),
	@jsonVenta nvarchar(1000),
	@idCliente nvarchar(50)
AS
BEGIN
	INSERT into Factura (id, ventaJson, idCliente)
	VALUES (@id, @jsonVenta, @idCliente)
	update Venta
	set facturada = 1
	WHERE id = @id
END
GO
/****** Object:  StoredProcedure [dbo].[CrearUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CrearUsuario]
  @nomUsu VARCHAR(50),
  @pass VARCHAR(500),
  @nombre VARCHAR(50),
  @apellido VARCHAR(50),
  @email VARCHAR(50),
  @telefono VARCHAR(50),
  @dni VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON
  -- Insert the new user into the table
  INSERT INTO Usuarios (nomUsu, pass, bloqueado, nombre, apellido, email, telefono, dni)
  VALUES (@nomUsu, @pass, 0, @nombre, @apellido, @email, @telefono, @dni);
END
GO
/****** Object:  StoredProcedure [dbo].[CrearVenta]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[CrearVenta]
	-- Add the parameters for the stored procedure here
	@productosVendidos nvarchar(max),
	@id nvarchar(100),
	@monto nvarchar(50),
	@fecha nvarchar(50),
	@idCliente nvarchar(50),
	@facturada bit
AS
BEGIN
	INSERT into Venta (productosVendidos, id, monto, fecha, clienteId, facturada)
	VALUES (@productosVendidos, @id, @monto, @fecha, @idCliente, @facturada)
END
GO
/****** Object:  StoredProcedure [dbo].[DesbloquearUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DesbloquearUsuario]
	@nomUsu VARCHAR(50)
AS
BEGIN
  SET NOCOUNT ON;
  Update Usuarios
  SET bloqueado = 0
  WHERE nomUsu = @nomUsu
END

GO
/****** Object:  StoredProcedure [dbo].[DespachoFactura]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[DespachoFactura]
    @id NVARCHAR(50),
	@idCliente NVARCHAR (50)
AS
BEGIN
    -- Check if the item exists and the "dispatched" field is not 1
    IF EXISTS (SELECT 1 FROM Factura WHERE id = @id AND idCliente = @idCliente AND despachada <> 1)
    BEGIN
        -- Update the "dispatched" field to 1
		SELECT * from Factura WHERE id = @id;
        UPDATE Factura SET despachada = 1 WHERE id = @id;
        	
    END
    ELSE
    BEGIN
        SELECT 'Not found';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[getListaProductosEnStock]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getListaProductosEnStock] 
AS
BEGIN
    -- Insert statements for procedure here
	SELECT * from Producto WHERE cantidad > 0;
END
GO
/****** Object:  StoredProcedure [dbo].[GetUsuariosBloqueados]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetUsuariosBloqueados]
AS
BEGIN
  SET NOCOUNT ON;

  SELECT nomUsu
  FROM Usuarios
  WHERE bloqueado = 3;
END

GO
/****** Object:  StoredProcedure [dbo].[GetVentasNoFacturadas]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GetVentasNoFacturadas]
AS
BEGIN
	Select * from Venta
	where facturada = 0
END
GO
/****** Object:  StoredProcedure [dbo].[GuardarComponente]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GuardarComponente]
    @nombre NVARCHAR(50),
	@permiso NVARCHAR(50)
AS
BEGIN
	DECLARE @ultimoId INT;
	SELECT @ultimoId = MAX(idPermiso) FROM Permisos
	DECLARE @nuevoId int = ISNULL(@ultimoId, 0) + 1;
	insert into Permisos (nombre,permiso, idPermiso) values (@nombre,@permiso, @nuevoId);  SELECT idPermiso AS LastID FROM Permisos WHERE idPermiso = @@Identity
END

GO
/****** Object:  StoredProcedure [dbo].[GuardarFamiliaPaso1]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GuardarFamiliaPaso1]
    @id INT
AS
BEGIN
    delete from PermisoPermiso where idPerfilPadre=@id
END

GO
/****** Object:  StoredProcedure [dbo].[GuardarFamiliaPaso2]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GuardarFamiliaPaso2]
    @idPadre INT,
	@idHijo INT
AS
BEGIN
    insert into PermisoPermiso (idPerfilPadre,idPerfilHijo) values (@idPadre,@idHijo)
END

GO
/****** Object:  StoredProcedure [dbo].[GuardarPerfilPaso1]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GuardarPerfilPaso1]
    @nomUsu NVARCHAR(50)
AS
BEGIN
    delete from UsuarioPermiso where nomUsu=@nomUsu
END

GO
/****** Object:  StoredProcedure [dbo].[GuardarPerfilPaso2]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[GuardarPerfilPaso2]
    @nomUsu NVARCHAR(50),
	@idPermiso INT
AS
BEGIN
   insert into UsuarioPermiso (nomUsu, idPermiso) values (@nomUsu, @idPermiso)
END

GO
/****** Object:  StoredProcedure [dbo].[LookupCliente]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[LookupCliente] 
	@id VARCHAR(50),
	@Result INT OUTPUT
AS
BEGIN
    IF EXISTS(SELECT 1 FROM Cliente WHERE id = @id)
	BEGIN
		SET @Result = 1;
	END
	ELSE
	BEGIN
		SET @Result = 0;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[lookupMensajesBitacora]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[lookupMensajesBitacora]
(
    @usuario VARCHAR(50) = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
	@modulo VARCHAR(50) = NULL,
	@criticidad INT = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
    -- Start of the SELECT statement
    SELECT *
    FROM Bitacora -- Replace with your actual table name

    -- Check and apply filters based on parameters
    WHERE
        (@usuario IS NULL OR usuario = @usuario) AND
		(@modulo IS NULL OR modulo = @modulo) AND
		(@criticidad IS NULL OR criticidad = @criticidad) AND
        (
            (@FromDate IS NULL OR fecha >= @FromDate) AND
			(@ToDate IS NULL OR fecha <= @ToDate)
        )
		ORDER BY fecha DESC;

    -- End of the SELECT statement
END

GO
/****** Object:  StoredProcedure [dbo].[lookupMensajesBitacoraCambios]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Tom>
-- Create date: <17/11/2024,,>
-- Description:	<Trae los msj de la bitácora de cambios según parámetros,,>
-- =============================================
CREATE PROCEDURE [dbo].[lookupMensajesBitacoraCambios]
(
    @usuMod VARCHAR(50) = NULL,
    @FromDate DATETIME = NULL,
    @ToDate DATETIME = NULL,
	@idOp INT = NULL,
	@nombreProducto VARCHAR(50) = NULL,
	@activo INT = NULL,
	@marcaProducto VARCHAR(50) = NULL,
	@idProducto INT = NULL,
	@tipoOp VARCHAR(50) = NULL
)
AS
BEGIN
	SET NOCOUNT ON;
    -- Start of the SELECT statement
    SELECT *
    FROM ProductoHistorico -- Replace with your actual table name

    -- Check and apply filters based on parameters
    WHERE
        (@usuMod IS NULL OR usuMod = @usuMod) AND
		(@idOp IS NULL OR idOp = @idOp) AND
		(@idProducto IS NULL OR id = @idProducto) AND
		(@nombreProducto IS NULL OR nombreProducto = @nombreProducto) AND
		(@activo IS NULL OR activo = @activo) AND
		(@tipoOp IS NULL OR tipoOp = @tipoOp) AND
		(@marcaProducto IS NULL OR marcaProducto = @marcaProducto) AND

        (
            (@FromDate IS NULL OR fechaMod >= @FromDate) AND
			(@ToDate IS NULL OR fechaMod <= @ToDate)
        )
		ORDER BY activo DESC, fechaMod DESC;

    -- End of the SELECT statement
END
GO
/****** Object:  StoredProcedure [dbo].[LookupUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[LookupUsuario]
    @nomUsu VARCHAR(50),
	@Result INT OUTPUT
AS
BEGIN
    IF EXISTS(SELECT 1 FROM Usuarios WHERE nomUsu = @nomUsu)
	BEGIN
		SET @Result = 1;
	END
	ELSE
	BEGIN
		SET @Result = 0;
	END
END
GO
/****** Object:  StoredProcedure [dbo].[ModificarNombreUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[ModificarNombreUsuario]
  @usuViejo VARCHAR(50),
  @usuNuevo VARCHAR(50),
  @Result INT OUTPUT
AS
BEGIN
  SET NOCOUNT ON;
  -- Check if the new username already exists
  IF EXISTS(SELECT 1 FROM Usuarios WHERE nomUsu = @usuNuevo)
  BEGIN
    SET @Result = 0;
  END

  -- Update the username
  UPDATE Usuarios
  SET nomUsu = @usuNuevo
  WHERE nomUsu = @usuViejo;
  SET @Result = 1;
END
GO
/****** Object:  StoredProcedure [dbo].[RemoverDeStock]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[RemoverDeStock]
	-- Add the parameters for the stored procedure here
	@Id Nvarchar(50),
	@Cantidad INT,
	@Usuario Nvarchar(50)
AS
BEGIN
	Update Producto
	set cantidad = cantidad - @Cantidad, usuMod = @Usuario
	WHERE id = @Id
END
GO
/****** Object:  StoredProcedure [dbo].[TraerFamilias]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerFamilias]
AS
BEGIN
	SELECT * FROM Permisos where permiso is NULL
END
GO
/****** Object:  StoredProcedure [dbo].[TraerPermisosByUsuario]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerPermisosByUsuario]
    @nomUsu NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT p.*
    FROM UsuarioPermiso up
    INNER JOIN Permisos p ON up.idPermiso = p.idPermiso
    WHERE up.nomUsu = @nomUsu;
END

GO
/****** Object:  StoredProcedure [dbo].[TraerTodasPatentes]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerTodasPatentes] 
AS
BEGIN
	SELECT * FROM Permisos p
	WHERE p.permiso IS NOT NULL;
END
GO
/****** Object:  StoredProcedure [dbo].[TraerTodosUsuarios]    Script Date: 29-Sep-25 7:22:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[TraerTodosUsuarios]
AS
BEGIN
	SELECT * FROM Usuarios
END
GO
USE [master]
GO
